[package]
name = "k8s-openapi"
version = "0.4.0"
license = "Apache-2.0"
authors = ["Arnavion <arnavion@gmail.com>"]
categories = ["api-bindings", "web-programming::http-client"]
description = "Bindings for the Kubernetes client API"
documentation = "https://docs.rs/k8s-openapi"
edition = "2018"
keywords = ["client", "kubernetes", "k8s", "http"]
readme = "README.md"
repository = "https://github.com/Arnavion/k8s-openapi"
include = [
	"build.rs",
	"Cargo.toml",
	"LICENSE",
	"README.md",
	"src/**/*",
]

[dependencies]
base64 = "0.10.x"
bytes = "0.4.x"
chrono = { version = "0.4.x", features = ["serde"] }
http = "0.1.x"
serde = "1.0.x"
serde_json = "1.0.x"
serde-value = "0.6.x"
url = "1.7.x"

[features]
# Each feature corresponds to a supported version of Kubernetes
v1_8 = []
v1_9 = []
v1_10 = []
v1_11 = []
v1_12 = []
v1_13 = []
v1_14 = []

[package.metadata.docs.rs]
# docs.rs generates docs for the latest version. To see the docs for an older version, please generate them yourself.
features = ["v1_14"]
